body {
  margin: 0;
  font-family: 'Lato', sans-serif;
    font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lato', sans-serif;
    font-weight: 400;
}
 .support-btn {
  color: #226CFC;
  background:#007bff29;
  border:none;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
 }
 .support-btn :hover{
  color: #226CFC !important;
  background:#007bff29;
  border:#707070 !important;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
 }